{% extends 'akshayaindia-dashboad/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- partial -->
<div class="content-wrapper">
    <div class="row">
        {% if messages %}
        <div class='messages'>
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3 class="card-title" style="padding-bottom: 0; padding-left:15px">
                CMS
                <img src="{% static 'Dashboard/images/down-arrow@2x.png' %}" style="width: 11.2px" />
                Vacation
                <img src="{% static 'Dashboard/images/down-arrow@2x.png' %}" style="width: 11.2px" />
                India
            </h3>
        </div>
        <div class="col-md-3 offset-md-6" style="text-align: right;font-size: 13px;">
            <!-- <label class="container">Show India Vactions on Homepage
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">India</h4>
                    <a href="{% url 'Dashboard:vacation_india_add' %}" class="add-tour">+ Add New Tour</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Sr. No.
                                </th>
                                <th>Position</th>
                                <th>
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            Name of Tour
                                        </div>
                                    </div>
                                </th>
                                <th style="float: right; margin: 2% 0;">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </th>
                                <th style="float: right; margin: 2% 0;">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </th>
                                <th style="float: right; margin: 2% 0;">
                                    Duration
                                </th>
                                <th style="float: right; margin: 2% 0;">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in india_vacation_list %}
                            <tr>
                                <td class="col-md-2 md-2-td">
                                    {{ forloop.counter0|add:india_vacation_list.start_index }}
                                </td>
                                <td class="col-md-2 md-2-td">
                                    <div class="row">
                                        {% if not india_vacation_list.has_previous %}
                                        {% if not forloop.first %}
                                        <div class="col-12">
                                            <button class="move_up" data-tour_up_id='{{ obj.id }}'>
                                                <img src="{% static 'Dashboard/images/sort-up-arrow.png' %}">
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="col-12">
                                            <button class="move_up" data-tour_up_id='{{ obj.id }}'>
                                                <img src="{% static 'Dashboard/images/sort-up-arrow.png' %}">
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% if not india_vacation_list.has_next %}
                                        {% if not forloop.last %}
                                        <div class="col-12">
                                            <button class="move_down" data-tour_down_id='{{ obj.id }}'>
                                                <img src="{% static 'Dashboard/images/sort-down-arrow.png' %}">
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="col-12">
                                            <button class="move_down" data-tour_down_id='{{ obj.id }}'>
                                                <img src="{% static 'Dashboard/images/sort-down-arrow.png' %}">
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="col-md-3 md-3-td">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {% if obj.hero_tour == True %}
                                            <img src="{% static 'Dashboard/images/star@2x.png' %}" style="width: 13px;height:15px;padding-bottom: 2px;" />
                                            {% endif %}
                                        </div>
                                        <div class="col-md-10">
                                            {{ obj.title }}
                                        </div>
                                    </div>
                                </td>
                                <td style="float: right; margin: 2% 0;">
                                    <a href="#" class="delete" data-toggle="modal" data-target="#DeleteModal{{ obj.id }}">Delete</a>
                                    <div id="DeleteModal{{ obj.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <center>
                                                        <img src="{% static 'Dashboard/images/caution.png' %}" class="modal-img" alt="" />
                                                        <p class="modal-bold">Do you want to Delete?</p>
                                                        <p>You can't revert back changes. Are you sure?</p>
                                                        <div class="modal-btns">
                                                            <button type="button" class="btn btn-secondary btn-fw" data-dismiss="modal">
                                                                Cancel
                                                            </button>
                                                            <a href="{% url 'Dashboard:vacation_delete' obj.slug %}" class="btn btn-danger btn-fw">Delete</a>
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="float: right; margin: 2% 0;">
                                    <a href="{% url 'Dashboard:vacation_india_edit' obj.slug %}" class="edit">Edit</a>
                                </td>
                                <td style="float: right; margin: 2% 0;">
                                    {{ obj.day_in_tour }}D . {{ obj.night_in_tour }}N
                                </td>
                                <td style="float: right; margin: 2% 0;">
                                    {% if obj.tour_price %}
                                    &#x20b9; {{ obj.tour_price }}/-
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="mb-0">
                            <!-- Showing 1 to 9 of 57 entries -->
                        </p>
                        {% if india_vacation_list.has_other_pages %}
                        <nav>
                            <ul class="pagination rounded-separated pagination-info mt-3">
                                {% if india_vacation_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ india_vacation_list.previous_page_number }}"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% endif %}
                                {% for i in india_vacation_list.paginator.page_range %}
                                {% if india_vacation_list.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if india_vacation_list.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ india_vacation_list.next_page_number }}"><i class="mdi mdi-chevron-right"></i></a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(document).on('click', '.move_up', function() {
        var vacation_id = $(this).data("tour_up_id");
        console.log("TOUR ID : " + vacation_id);
        $.ajax({
            url: "{% url 'Dashboard:vacation_move_up' %}",
            method: 'POST',
            data: {
                'vacation_id': vacation_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {

                if (response['success']) {
                    location.reload(true);
                    console.log("Success");
                }

                if (response['error']) {
                    console.log(response['error']);
                }
            },

            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
    $(document).on('click', '.move_down', function() {
        var vacation_id = $(this).data("tour_down_id");
        console.log("TOUR ID : " + vacation_id);
        $.ajax({
            url: "{% url 'Dashboard:vacation_move_down' %}",
            method: 'POST',
            data: {
                'vacation_id': vacation_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {

                if (response['success']) {
                    location.reload(true);
                    console.log("Success");
                }

                if (response['error']) {
                    console.log(response['error']);
                }
            },

            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
});
</script>
{% endblock content %}