{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Akshaya India Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/simple-line-icons/css/simple-line-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/chartist/dist/chartist.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/jvectormap/jquery-jvectormap.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'Dashboard/node_modules/dropify/dist/css/dropify.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Dashboard/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'Dashboard/css/cmsAddNewTourStyle.css' %}" />
    <!-- endinject -->
    <link rel="icon" href="{% static 'Website/images/favicon.png' %}" type="image/png" sizes="16x16">
    <style type="text/css">
    .errorlist {
        color: red;
        text-decoration: none;
    }

    .button-photo-image {
        width: 200px;
    }

    .button-photo-image input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include "akshayaindia-dashboad/include/nav.html" %}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                {% include "akshayaindia-dashboad/include/header.html" %}
                <!-- partial -->
                <div class="content-wrapper">
                    <h2 class="card-title" style="padding-bottom: 0; padding-left:15px">
                        CMS
                        <img src="{% static 'Dashboard/images/down-arrow@2x.png' %}" style="width: 11.2px" />
                        Testimonial
                        <img src="{% static 'Dashboard/images/down-arrow@2x.png' %}" style="width: 11.2px" />
                        Add New Testimonial
                    </h2>
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add New Testimonial</h4>
                                    <form class="form-sample repeater" method="post" id="testimonial-form" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Name of person<span class="asterisk">
                                                            *</span></label>
                                                    <div class="form-group col-sm-10">
                                                        {{ form.name }}
                                                        {{ form.name.errors }}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">City</label>
                                                    <div class="form-group col-sm-10">
                                                        {{ form.city }}
                                                        {{ form.city.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Image</label>
                                            <div class="form-group col-sm-2">
                                                <div class="btn btn-info button-photo-image">
                                                    {{ form.photo }}Upload
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-7 ml-auto">
                                                <div class="photo-file-upload-info ml-3 mt-1">
                                                    {{ form.photo.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Content<span class="asterisk"> *</span></label>
                                                    <div class="form-group col-sm-10">
                                                        <!-- <textarea placeholder="Context" name="" id="" cols="30" rows="10" class="form-control txtArea"></textarea> -->
                                                        {{ form.words }}
                                                        {{ form.words.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row"></div>
                                                <div class="form-group row">
                                                    <div class="button-div offset-sm-2">
                                                        <button type="submit" class="btn btn-success btn-fw">
                                                            Save
                                                        </button>
                                                        <a href="{% url 'Dashboard:testimonial_list' %}" class="btn btn-secondary btn-fw">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <!-- <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer> -->
                <!-- partial -->
            </div>
            <!-- row-offcanvas ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <div id="logoutModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <img src="{% static 'Dashboard/images/caution.png' %}" class="modal-img" alt="" />
                        <p class="modal-bold">Do you want to logout?</p>
                        <p>You'll be logged out of your profile.</p>
                        <div class="modal-btns">
                            <a href="{% url 'Dashboard:logout' %}" class="btn btn-secondary btn-fw">Logout</a>
                            <button type="button" class="btn btn-danger btn-fw" data-toggle="modal" data-target="#logoutModal">
                                Cancel
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="succesResponse" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <img src="{% static 'Dashboard/images/congrates.png' %}" class="modal-img" alt="">
                        <p class="modal-bold">New Testimonial Added!</p>
                        <div class="modal-btns">
                            <a href="{% url 'Dashboard:testimonial_list' %}" class="btn btn-info btn-fw">Continue</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'Dashboard/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'Dashboard/node_modules/popper.js/dist/umd/popper.min.js' %}"></script> -->
    <script src="{% static 'Dashboard/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Dashboard/node_modules/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'Dashboard/node_modules/jquery.repeater/jquery.repeater.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'Dashboard/js/off-canvas.js' %}"></script>
    <script src="{% static 'Dashboard/js/misc.js' %}"></script>
    <script src="{% static 'Dashboard/js/file-upload.js' %}"></script>
    <script src="{% static 'Dashboard/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'Dashboard/js/dropify.js' %}"></script>
    <script src="{% static 'Dashboard/js/form-repeater.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#testimonial-form').on('submit', function(event) {
            event.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'Dashboard:testimonial_add' %}",
                type: "POST",
                data: formData,

                success: function(response) {
                    if (response['success']) {
                        jQuery.noConflict();
                        $('#succesResponse').modal('show');
                        console.log("Success");
                    }
                    if (response['error']) {
                        console.log(response['error']);
                    }
                },
                cache: false,
                contentType: false,
                processData: false,

                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText);
                }
            });
        });
    });
    </script>
    <script>
    $(document).ready(function() {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_photo").change(function(e) {
            console.log("clicked");
            if (this.files && this.files[0]) {
                /* here we are checking the file size should not be grater then 20mb  */
                if (Math.round(this.files[0].size) / 1024 > 5000) {
                    alert("Please select image less then 5 MB.");
                    $('.photo-file-upload-info').text(" ");
                    $(this).val('');
                } else {
                    var reader = new FileReader();
                    $('.photo-file-upload-info').text(e.target.files[0].name)
                }
            }
        });
    })
    </script>
</body>

</html>