{% extends 'akshayaindia-dashboad/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- partial -->
<!-- partial -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-3">
            <h3 class="card-title" style="padding-bottom: 0; padding-left:15px">
                CMS
                <img src="{% static 'Dashboard/images/down-arrow@2x.png' %}" style="width: 11.2px" />
                Testimonials
            </h3>
        </div>
        <div class="col-md-3 offset-md-6" style="text-align: right;font-size: 13px;">
            <!-- <label class="container">Show testimonials on Homepage
                <input type="checkbox" checked="checked" />
                <span class="checkmark"></span>
            </label> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Testimonials</h4>
                    <a href="{% url 'Dashboard:testimonial_add' %}" class="add-tour">+ Add New Testimonial</a>
                    <table class="table table-striped table-bottom">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>
                                    Name of person
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in testimonial_list %}
                            <tr>
                                <td>
                                   {{ forloop.counter0|add:testimonial_list.start_index }} 
                                </td>
                                <td class="col-md-3">
                                    {{ obj.name }}
                                </td>
                                <td>
                                    <a href="{% url 'Dashboard:testimonial_edit' obj.id %}" class="edit">Edit</a>
                                </td>
                                <td>
                                    <a href="#" class="delete" data-toggle="modal" data-target="#DeleteModal{{ obj.id }}">Delete</a>
                                    <div id="DeleteModal{{ obj.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <center>
                                                        <img src="{% static 'Dashboard/images/caution.png' %}" class="modal-img" alt="" />
                                                        <p class="modal-bold">Do you want to Delete?</p>
                                                        <p>You can't revert back changes. Are you sure?</p>
                                                        <div class="modal-btns">
                                                            <button type="button" class="btn btn-secondary btn-fw" data-dismiss="modal">
                                                                Cancel
                                                            </button>
                                                            <a href="{% url 'Dashboard:testimonial_delete' obj.id %}" class="btn btn-danger btn-fw">Delete</a>
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="mb-0">
                            <!-- Showing 1 to 10 of 34 entries -->
                        </p>
                        {% if testimonial_list.has_other_pages %}
                        <nav>
                            <ul class="pagination rounded-separated pagination-info mt-3">
                                {% if testimonial_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ testimonial_list.previous_page_number }}"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% endif %}
                                {% for i in testimonial_list.paginator.page_range %}
                                {% if testimonial_list.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if testimonial_list.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ testimonial_list.next_page_number }}"><i class="mdi mdi-chevron-right"></i></a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}